{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
{% for post in postslist | reverse %}
		<a href="{{ post.url }}" class="postlist-link"><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("d LLLL yyyy") }}</time></a>
		<p>{{ post.content | safe }}</p>
	<hr />
{% endfor %}
